
/* body{
  background:url(https://studentaffairs.duke.edu/sites/default/files/styles/large_xl/public/2019-11/11.07%20ballpen-blur-close-up-computer-461077.jpg?itok=ghiAk2wR);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
background-blend-mode:darken;

} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page{
  margin: 20px auto;
  margin-bottom: 50px;
  justify-content: center;
  padding: 15px 5px 10px 15px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0,1);
 background-color:whitesmoke;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
  text-align:center;
  }
  .page:hover{
    box-shadow: 50px 50px 20px -8px rgba(226, 216, 216, 0.1);
    transform: scale(1.05,1.05);
    }

/* com profile footer */
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      height:50px;
      width: 100%;
      background-color:#38d39f;
      font-family: 'Dancing Script', cursive;
      color:black;
      text-align: center;
      border-top: 7px solid black;
    }

    .header {
      height:90px;
      overflow: hidden;
      background-color:#38d39f;
      font-family: 'Dancing Script', cursive;
      padding: 20px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    /* .logo{
      background-image: url("onlinelogomaker-030421-1411-2933.png");
    } */
    .header2 {
      height:57px;
      width: 1050px;
     margin-top: -14px;
      overflow: hidden;
      background-color:#38d39f;
      font-family: 'Dancing Script', cursive;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-bottom: 7px solid black;
      margin-left:-8px;
    
      
    }
    .header3 {
    
      height:11px;
      width: auto;
      margin: -13px;
      overflow: hidden;
      background-color:black;
      font-family: 'Dancing Script', cursive;
      justify-content: center;
      align-items: center;
    }
    /* .menu{
    
      line-height: 30px;
      background-color: black;
      align-items: center;
     justify-content: center;
     margin-left: 50px;
     font-family: Arial, Helvetica, sans-serif;
     font-size:x-large;
   } */

   .comdata{
    margin: 20px auto;
     margin-bottom: 100px;
    margin-top: 50px; 
    /* justify-content: center; */
    padding: 15px 5px 10px 15px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0,1);
    background-color:whitesmoke;
    width: 1050px;
    height: 1050px;
    border-radius: 1px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    }
 
     .card0{
      margin: 20px auto;
      margin-bottom: 100px;
     margin-top: 50px; 
     padding: 15px 5px 10px 15px;
     float: center;
     width: 1050px;
     /* width:auto; */
     /* height: 1050px; */
    padding: 15px 8px;
    background: #eef5f6;
    position: relative;
    height:auto;
    border-radius: 1px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
 
     }
     .card1{
     padding: 30px 40px 0;
     background:blanchedalmond;
     border-radius: 15px;
     padding: 20px 50px;
     height:auto;
     margin-top: 20px;
     }
     .table{
      display: block;
      width: 100%;
      overflow-x: auto;
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      background-color:#38d39f;
    }
    
.closeicon{
  float:right;
  margin-top: -23px;
  margin-right: 10px;
}
.managerFields{
  width: 250px;
  margin-top: 5px;
}

     /* //about page */

     .title{
      margin-top: 40px;
       margin-left: 50px;
     }

     .ttline{
    
      
        left: 0;
        bottom: 0;
        height:10px;
        width: 30%;
        background-color:black;
        margin-bottom: 360px;
        margin-left: 50px;
        
     
     }
     h5.title-font {
      font-size: 16pt;
      line-height: 14pt;
      font-family: "DIN";
      margin-bottom: 20px;}

      
     .row{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
     

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



.cbox{
  font-size: 12pt;
  font-family: "DIN";
  text-transform: uppercase;
 
}


.primaryHeader {
  background: #38d39f;
  color: #fff;
  font-size: 15pt;
  line-height: 24pt;
  text-transform: uppercase;
  text-align: center;
 height: 50px;
 padding: 5px;
  border-bottom: 5px solid #080005;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.aboutfooter {
 
  left: 0;
  bottom: 0;
  height:270px;
  display:flex;
  background-color:#38d39f;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:black;
  margin-bottom: 50px;

  width: 100%;



}
.col-8{
	width:30%;
	float:left;
}
 .col-4{
	width:70%;
	/* float:right; */
  padding-right: 500px;
}
/* .container{
	width: 1140px;
	margin: 0 auto;
}
.about-info{
	color: #999999;
	font-size:12px;
}
.about-info p{
	margin: 50px 50px;
	line-height: 30px;
}
.col-8{
	width:66.66%;
	float:left;
}
 .col-4{
	width:33.33%;
	float:left;
}
.about-img{
	height: 250px;
	margin-top:50px;
	width:100%;
} */
.about-img{
	height: 430px;
	float:right;
  margin-right: 20px;
	width:auto;
  border-radius: 10pt;
 
}

/* home page csss */

.headtitle{
  margin-top: 50px;
   margin-left: 280px;

  
  
 }

 .freebutton
 {
   height:60px;
   width:200px;
   font-size:35px;
   font-display: center;
   background-color:red;
 }